.screen {
    width: 70%;
    margin: 0 auto;
    min-height: 100px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.screen p {
    display: inline;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.buttons button{
    width: 70px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.space{
    width: 300px;
}
